{% extends "layout3.html" %}
{% block body %}
<p >Total Read count = {{ variable }}</p><br>
<p >Current users = 1</p><br><br>
<p>Once there lived a greedy man in a small town. He was very rich, and he loved gold and all things fancy. But he loved his daughter more than anything. One day, he chanced upon a fairy. The fairy’s hair was caught in a few tree branches. He helped her out, but as his greediness took over, he realised that he had an opportunity to become richer by asking for a wish in return (by helping her out). The fairy granted him a wish. He said, “All that I touch should turn to gold.” And his wish was granted by the grateful fairy. </p>

{% endblock %}